body {
    max-width: 800px; 
    margin: 0 auto; 
    font-family: Montserrat;

}

.profile {
    background-image: url(background1.png);
}

.profile_left {
    width: 30%;
    float: left;
}

.profile_left img {
    margin: 15px;
    margin-left: 20%;
}

.profile_right {
    margin-left: 32%;
    margin-top: 10px;
    padding: 10px;
}

.contacts li {
    display: flex; 
    margin-bottom: 10px; 
    align-items: center;
}

.data {
    margin-left: 10px;
}

.profile_end {
    clear: both;
}

main {
    margin: 10px;
    background-image: url(background3.png);
}

h2 {
    text-align: center;
}
 
.about_me,
.skills, 
.education,
.code_example, 
.english_level {
    margin: 10px;
    border-bottom: solid #000 1px;
}

footer {
    width: 100%; 
    margin: 0 auto; 
    background: url(background1.png);
    text-align: center;
}

.block {
    margin-left: 25px;
    margin-right: 55%;
    margin-top: 5px;
    float: left;
}

.block p {
    font-size: 12px;
}

.logo {
    margin-left: 15px;
}